@model List<Api_BaseDatos.Models.Producto>

<h2>Productos</h2>

<a asp-action="Crear">Nuevo producto</a>

<table class="table table-hover">
    <tr>
        <th>ID </th>
        <th>Nombre</th>
        <th>Stock </th>
        <th>Precio </th>
        <th>Tipo</th>
        <th></th>
    </tr>

    @foreach (var p in Model)
    {
        <tr>
            <td>@p.Pro_Id</td>
            <td>@p.Pro_Nombre</td>
            <td>@p.Pro_Stock</td>
            <td>@p.Pro_Precio.ToString("C")</td>
            <td>@p.Pro_Tipo</td>
            <td>
                <a asp-action="Eliminar"
                   asp-route-id="@p.Pro_Id"
                   onclick="return confirm('¿Seguro que deseas eliminar?')">
                    Eliminar
                </a>
                <a asp-action="Editar" asp-route-id="@p.Pro_Id"> Editar</a>
            </td>
        </tr>
    }
</table>
